.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: aliceblue;
}
.display{
    background-color: antiquewhite;
    color: black;
}
.font{
    color: darkblue;
}
